{{#partial "content"}}
    <section class = "container">
<!--        <div class="land-left"></div>-->
<!--        <div class="land-right"></div>-->
        <div class = "image-card">
            <div class = "imgBx">
                <img src="#" alt="">
            </div>
        </div>
        <h2><a class = "btns" href="hero_form.hbs">Create A Hero</a> <br> Current Heroes</h2>

        <div class = "heroes">
<!--            {{#each}}-->
               <div class = "hero-card">
                   <h1>Card One</h1>
                   <img src="#" alt="">
                   <p>Name: {{ name }}</p>
                   <p>Age: {{ age }}</p>
                   <p>Powers: {{ power }}</p>
                   <p>Weakness: {{ weakness }}</p>
                   <p>Id: {{ id }}</p>

                   <a href="new/{{id}} class = "btns">More</a>
                   <a href="/squad" class = "btns">Add {{ name }} to Squad</a>

               </div>


<!--            {{/each}}-->
        </div>


    </section>


{{/partial}}
{{>nav.hbs}}