{{#partial "content"}}
    <div class="center">
        <div class = "property-card">
            <a href="#">
                <div class="property-image">
                    <div class="property-image-title">
                    </div>
                </div></a>
            <div class = "property-description">
                <h2 class = "card1text">Marvel </h2>
                <p>Squad Name: {{ squadName }} </p>
                <p>Quantity: {{ squadQuanity }}</p>
                <p>Reason: {{ squadReason }}</p>
                <p>Id: {{ id }}</p>
<!--                <a href="new/{{id}}" class="btns">Learn More</a>-->
<!--                <a href="/squad" class="btns">Add {{ name }} To Squad</a>-->
            </div>
        </div>
        <div class = "property-card">
            <a href="#">
                <div class="property-image">
                    <div class="property-image-title">
                    </div>
                </div></a>
            <div class = "property-description">
                <h2 class = "card1text">Team Avatar </h2>
                <p>Squad Name: {{ squadName }} </p>
                <p>Quantity: {{ squadQuanity }}</p>
                <p>Reason: {{ squadReason }}</p>
                <p>Id: {{ id }}</p>
<!--                <a href="new/{{id}}" class="btns">Learn More</a>-->
<!--                <a href="/squad" class="btns">Add {{ name }} To Squad</a>-->
            </div>
        </div>
    </div>
{{/partial}}
{{> nav.hbs}}


